<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error">
                <%- errorMessage %>
            </div>
        <% } %>
        <form class="product-form" action="/admin/edit-product" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                class="<%= validationErrors.find((e)=> e.path == "title") ? 'invalid' : '' %>"
                 type="text" name="title" id="title" value="<%= oldInput.title %>">
            </div>
            <div class="card__image" >
                <img src="<%= oldInput.imageUrl %>"/>
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input
                 type="file" name="image" id="imageUrl ">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                class="<%= validationErrors.find((e)=> e.path == "price") ? 'invalid' : '' %>"
                type="number" name="price" id="price" step="0.01" value="<%= oldInput.price %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                class="<%= validationErrors.find((e)=> e.path == "description") ? 'invalid' : '' %>"
                name="description" id="description" rows="5"><%= oldInput.description %></textarea>
            </div>
            <input type="hidden" name="oldImg" value="<%= oldInput.imageUrl %>"/>
            <input type="hidden" name="productID" value="<%= oldInput._id %>"/>
            <input type="hidden" name="csrfToken" value="<%= csrfToken %>">

            <button class="btn" type="submit">Save Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
