<section class="pagination">
  <% if (hasPreviousPage) { %>
  <a href="?page=<%= previousPage %>">Prev</a>
  <% } %> <% for( let i = 1; i <= lastPage; i++ ) { %>
  <a href="?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>"
    ><%= i %></a
  >
  <% } %> <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>">Next</a>
  <% } %>
</section>
